<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.msu.steve702.ua_quality_assurance_platform">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/> -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TabularDataActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".InProcessListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".UpdateInProcessActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".TechnicalDataListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".UpdateTabularActvity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".activities.AuditActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".activities.CheckListListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity android:name=".activities.EditAuditListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".pdfActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>